{% extends "../layouts/admin.twig" %}

{% block body %}
    <p>list</p>
    <a href="{{ route('admin.entries.create', collection) }}">Add entry</a>

    {% for entry in entries %}
        <li>
            <a href="{{ route('admin.entries.view', collection, entry) }}">
                {{ entry }}
            </a>
        </li>
    {% endfor %}
{% endblock %}