version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    ignore:
      - packages: "*"
        update-types:
          - "version-update:semver-major"
    groups:
      all-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "⬆️"
      include: "scope"