{% extends "../layouts/admin.twig" %}

{% block body %}
    <a href="{{ route('admin.dashboard') }}">back</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ route('admin.collections.new') }}">Add collection</a>

    <p>list</p>
    {% for collection in collections %}
        <li>
            <a href="{{ route('admin.entries', collection) }}">
                {{ collection }}
            </a>
        </li>
    {% endfor %}
{% endblock %}