<!DOCTYPE html>
<html>
<head>
  <title>{{title}} - {{site_name}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="manager-page" id="manager-page">
    <h1>manager template</h1>
    {{{body}}}
</body>
</html>
