<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - <%= site_name %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="manager-page" id="manager-page">
  <div class="sidebar" id="manager-sidebar">
    <div class="sidebar__branding">
      <svg xmlns="http://www.w3.org/2000/svg" width="320" height="171" viewBox="0 0 320 171" fill="none">
      <path d="M0 19.7652V0H82.3247V19.7652H52.7905V100.695H29.5817V19.7652H0Z" fill="url(#paint0_linear_10_34)"/>
      <path d="M93.8221 100.695V0H161.736V19.7652H117.364V40.4155H158.265V60.2299H117.364V80.9293H161.736V100.695H93.8221Z" fill="url(#paint1_linear_10_34)"/>
      <path d="M176.48 100.695V0H216.715C224.007 0 230.301 1.47502 235.596 4.42506C240.922 7.34231 245.028 11.4232 247.913 16.6677C250.799 21.8794 252.241 27.9434 252.241 34.8596C252.241 41.8086 250.767 47.8889 247.818 53.1007C244.901 58.2796 240.732 62.2949 235.31 65.1466C229.888 67.9983 223.452 69.4242 216.001 69.4242H191.175V50.249H211.626C215.177 50.249 218.141 49.6098 220.519 48.3314C222.929 47.0531 224.752 45.2667 225.989 42.9722C227.225 40.6449 227.843 37.9407 227.843 34.8596C227.843 31.7457 227.225 29.0579 225.989 26.7962C224.752 24.5017 222.929 22.7317 220.519 21.4861C218.11 20.2405 215.145 19.6177 211.626 19.6177H200.021V100.695H176.48Z" fill="url(#paint2_linear_10_34)"/>
      <path d="M131.16 171C125.831 171 121.255 169.79 117.432 167.371C113.633 164.952 110.702 161.61 108.639 157.347C106.601 153.059 105.581 148.125 105.581 142.543C105.581 136.938 106.624 131.992 108.709 127.704C110.794 123.393 113.737 120.039 117.537 117.644C121.36 115.225 125.878 114.015 131.091 114.015C135.424 114.015 139.258 114.842 142.595 116.494C145.954 118.123 148.631 120.435 150.623 123.429C152.616 126.399 153.751 129.872 154.029 133.848H142.004C141.517 131.19 140.359 128.974 138.528 127.201C136.721 125.405 134.3 124.507 131.265 124.507C128.693 124.507 126.434 125.225 124.488 126.662C122.541 128.076 121.024 130.112 119.935 132.771C118.869 135.429 118.336 138.615 118.336 142.328C118.336 146.089 118.869 149.322 119.935 152.029C121.001 154.712 122.495 156.784 124.418 158.245C126.364 159.682 128.647 160.401 131.265 160.401C133.118 160.401 134.775 160.041 136.235 159.323C137.718 158.58 138.957 157.514 139.953 156.125C140.95 154.736 141.633 153.047 142.004 151.059H154.029C153.728 154.963 152.616 158.425 150.693 161.443C148.77 164.437 146.151 166.784 142.838 168.485C139.525 170.162 135.632 171 131.16 171Z" fill="#F3E7C8" />
      <path d="M164.36 169.922V114.734H176.385V124.111H177.011C178.123 120.95 179.965 118.482 182.537 116.71C185.108 114.913 188.178 114.015 191.747 114.015C195.361 114.015 198.408 114.925 200.887 116.746C203.389 118.542 205.15 120.998 206.17 124.111H206.726C207.908 121.045 209.9 118.602 212.704 116.782C215.53 114.937 218.878 114.015 222.748 114.015C227.66 114.015 231.668 115.62 234.773 118.83C237.878 122.039 239.43 126.722 239.43 132.878V169.922H226.814V134.89C226.814 131.465 225.934 128.962 224.173 127.381C222.412 125.776 220.257 124.974 217.708 124.974C214.673 124.974 212.298 125.956 210.584 127.92C208.892 129.86 208.047 132.387 208.047 135.501V169.922H195.709V134.351C195.709 131.501 194.874 129.225 193.206 127.525C191.561 125.824 189.406 124.974 186.742 124.974C184.935 124.974 183.29 125.453 181.807 126.411C180.324 127.345 179.142 128.675 178.262 130.399C177.381 132.1 176.941 134.088 176.941 136.364V169.922H164.36Z" fill="#F3E7C8"/>
      <path d="M294.386 129.321L282.917 130.615C282.592 129.417 282.025 128.291 281.214 127.237C280.426 126.183 279.36 125.333 278.016 124.686C276.673 124.04 275.027 123.716 273.081 123.716C270.463 123.716 268.262 124.303 266.478 125.477C264.717 126.65 263.848 128.172 263.871 130.04C263.848 131.645 264.416 132.95 265.574 133.956C266.756 134.962 268.702 135.789 271.413 136.435L280.519 138.447C285.57 139.573 289.323 141.358 291.779 143.801C294.258 146.244 295.51 149.442 295.533 153.394C295.51 156.868 294.525 159.934 292.579 162.592C290.655 165.227 287.979 167.287 284.55 168.772C281.121 170.257 277.182 171 272.734 171C266.2 171 260.94 169.587 256.955 166.76C252.97 163.91 250.595 159.946 249.83 154.867L262.099 153.646C262.655 156.137 263.836 158.017 265.644 159.287C267.451 160.556 269.803 161.191 272.699 161.191C275.688 161.191 278.086 160.556 279.893 159.287C281.724 158.017 282.639 156.448 282.639 154.58C282.639 152.999 282.048 151.694 280.866 150.664C279.708 149.634 277.901 148.843 275.445 148.292L266.339 146.316C261.218 145.214 257.43 143.358 254.974 140.747C252.518 138.112 251.302 134.783 251.325 130.758C251.302 127.357 252.194 124.411 254.001 121.92C255.831 119.405 258.368 117.464 261.612 116.099C264.879 114.71 268.644 114.015 272.907 114.015C279.163 114.015 284.087 115.392 287.678 118.147C291.293 120.902 293.529 124.626 294.386 129.321Z" fill="#F3E7C8"/>
      <path d="M300.684 161.015C300.684 155.501 305.008 151.031 310.342 151.031C315.676 151.031 320 155.501 320 161.015C320 166.53 315.676 171 310.342 171C305.008 171 300.684 166.53 300.684 161.015Z" fill="#F9706D"/>
      <defs>
      <linearGradient id="paint0_linear_10_34" x1="2.45015e-06" y1="4.09855" x2="294.573" y2="204.312" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF827F"/>
      <stop offset="1" stop-color="#F76461"/>
      </linearGradient>
      <linearGradient id="paint1_linear_10_34" x1="2.45015e-06" y1="4.09855" x2="294.573" y2="204.312" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF827F"/>
      <stop offset="1" stop-color="#F76461"/>
      </linearGradient>
      <linearGradient id="paint2_linear_10_34" x1="2.45015e-06" y1="4.09855" x2="294.573" y2="204.312" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF827F"/>
      <stop offset="1" stop-color="#F76461"/>
      </linearGradient>
      </defs>
      </svg>
    </div>
    <div class="sidebar__navigation">
      <div class="sidebar__navigation--item active">
        <div class="sidebar__navigation__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M0 5C0 2.23858 2.23858 0 5 0H20C22.7614 0 25 2.23858 25 5V20C25 22.7614 22.7614 25 20 25H5C2.23858 25 0 22.7614 0 20V5Z" class="colored"/>
          </svg>
        </div>
        <span class="sidebar__navigation__label">Dashboard<span class="sidebar__navigation__label--dot">.</span>
      </div>

      <div class="sidebar__navigation--item">
        <div class="sidebar__navigation__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M22 7.9L14.8159 1V5.9C14.8159 7.00457 15.7114 7.9 16.8159 7.9H22Z" class="colored"/>
            <path d="M12.4527 18.4H14.3689C15.4734 18.4 16.3689 17.5046 16.3689 16.4V15.5C16.3689 14.3954 15.4734 13.5 14.3689 13.5H12.4527H10.6311C9.52656 13.5 8.63113 14.3954 8.63113 15.5V16.4C8.63113 17.5046 9.52656 18.4 10.6311 18.4H12.4527Z" class="colored"/>
            <path d="M14.8159 1H12.4527H5C3.89543 1 3 1.89543 3 3V13.42V22C3 23.1046 3.89543 24 5 24H20C21.1046 24 22 23.1046 22 22V13.42V7.9M14.8159 1L22 7.9M14.8159 1V5.9C14.8159 7.00457 15.7114 7.9 16.8159 7.9H22M12.4527 13.5H14.3689C15.4734 13.5 16.3689 14.3954 16.3689 15.5V16.4C16.3689 17.5046 15.4734 18.4 14.3689 18.4H12.4527H10.6311C9.52656 18.4 8.63113 17.5046 8.63113 16.4V15.5C8.63113 14.3954 9.52656 13.5 10.6311 13.5H12.4527Z" stroke-width="2"/>
          </svg>
        </div>
        <span class="sidebar__navigation__label">Posts<span class="sidebar__navigation__label--dot">.</span>
      </div>
      
      <div class="sidebar__navigation--item">
        <div class="sidebar__navigation__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M22 7.9L14.8159 1V5.9C14.8159 7.00457 15.7114 7.9 16.8159 7.9H22Z" class="colored"/>
            <path d="M14.8159 1H12.4527H5C3.89543 1 3 1.89543 3 3V13.42V22C3 23.1046 3.89543 24 5 24H20C21.1046 24 22 23.1046 22 22V13.42V7.9M14.8159 1L22 7.9M14.8159 1V5.9C14.8159 7.00457 15.7114 7.9 16.8159 7.9H22" stroke-width="2"/>
          </svg>
        </div>
        <span class="sidebar__navigation__label">Pages<span class="sidebar__navigation__label--dot">.</span>
      </div>
      
      <div class="sidebar__navigation--item">
        <div class="sidebar__navigation__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M2 21.74V13.34V4C2 2.89543 2.89543 2 4 2H21C22.1046 2 23 2.89543 23 4V13.34M2 21.74V21.74C2 22.4359 2.56412 23 3.26 23H21C22.1046 23 23 22.1046 23 21V13.34M2 21.74L11.8867 15.6087C12.4767 15.2428 13.2142 15.2091 13.8352 15.5196L16.3053 16.7547C16.9625 17.0832 17.7468 17.025 18.3483 16.6031L23 13.34" stroke-width="2"/>
          </svg>
        </div>
        <span class="sidebar__navigation__label">Media<span class="sidebar__navigation__label--dot">.</span>
      </div>
      
      <div class="sidebar__navigation--item">
        <div class="sidebar__navigation__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M22.7318 15.0234L20.8477 13.9818C21.0379 12.9996 21.0379 11.9919 20.8477 11.0097L22.7318 9.96815C22.9485 9.84961 23.0458 9.60404 22.975 9.37542C22.4841 7.86816 21.6482 6.50486 20.5558 5.37019C20.3877 5.1966 20.1135 5.15426 19.9012 5.27281L18.0172 6.31434C17.2255 5.66232 16.3144 5.1585 15.3281 4.82825V2.74943C15.3281 2.51234 15.1557 2.30488 14.9124 2.25407C13.2893 1.90689 11.6263 1.92383 10.0828 2.25407C9.83954 2.30488 9.66706 2.51234 9.66706 2.74943V4.83249C8.68521 5.16696 7.77413 5.67079 6.97804 6.31857L5.09839 5.27704C4.88167 5.1585 4.61189 5.1966 4.44382 5.37442C3.35141 6.50486 2.51552 7.86816 2.0246 9.37965C1.94941 9.60828 2.05113 9.85384 2.26785 9.97239L4.15192 11.0139C3.96175 11.9962 3.96175 13.0038 4.15192 13.9861L2.26785 15.0276C2.05113 15.1462 1.95383 15.3917 2.0246 15.6204C2.51552 17.1276 3.35141 18.4909 4.44382 19.6256C4.61189 19.7992 4.8861 19.8415 5.09839 19.723L6.98247 18.6814C7.77413 19.3334 8.68521 19.8373 9.67148 20.1675V22.2506C9.67148 22.4877 9.84397 22.6951 10.0872 22.7459C11.7104 23.0931 13.3733 23.0762 14.9168 22.7459C15.1601 22.6951 15.3326 22.4877 15.3326 22.2506V20.1675C16.3144 19.833 17.2255 19.3292 18.0216 18.6814L19.9057 19.723C20.1224 19.8415 20.3922 19.8034 20.5602 19.6256C21.6526 18.4951 22.4885 17.1318 22.9794 15.6204C23.0458 15.3875 22.9485 15.1419 22.7318 15.0234ZM12.4976 15.8829C10.5472 15.8829 8.95942 14.3629 8.95942 12.4958C8.95942 10.6286 10.5472 9.10868 12.4976 9.10868C14.448 9.10868 16.0358 10.6286 16.0358 12.4958C16.0358 14.3629 14.448 15.8829 12.4976 15.8829Z" class="colored"/>
          </svg>
        </div>
        <span class="sidebar__navigation__label">Settings<span class="sidebar__navigation__label--dot">.</span>
      </div>
    </div>
  </div>

  <div class="content" id="manager-content">
    <%- body %>
  </div>
</body>
</html>