<!DOCTYPE html>
<html>
<head>
  <title>Manager - <%= site_name %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="manager-page" id="manager-page">
  <div class="sidebar" id="manager-sidebar">
    <div class="sidebar__links">
      <a href="/manager/collections" class="sidebar__link">
        <span>Collections</span>
      </a>
      <a href="#" class="sidebar__link">
        <span>Media library</span>
      </a>
      <a href="#" class="sidebar__link">
        <span>Settings</span>
      </a>
      <a href="#" class="sidebar__link">
        <span>Collections</span>
      </a>
    </div>
    <div class="sidebar__collapse">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panel-left"><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M9 3v18"></path></svg>
      </button>
    </div>
  </div>

  <div class="content" id="manager-content">
    <%- body %>
  </div>
</body>
</html>