{% extends "layouts/auth.twig" %}

{% block body %}
  <form action="/admin/login" method="POST">
    <div class="auth-form-group">
      <label class="auth-label">Username</label>

      <input
          class="auth-input"
          type="text"
          name="username"
          value="{{ username }}"
          required
      />
    </div>

    <div class="auth-form-group">
      <label class="auth-label">Password</label>

      <input
           type="password"
           name="password"
           required
           class="auth-input"
      />
    </div>

    <div class="auth-button-wrapper">
      <a href="/admin/register" class="register-button">
        Create account
      </a>
      <button class="login-button">
        Login
      </button>
    </div>
  </form>
{% endblock %}