<header class="page-header header">
    <div class="container">
        <div class="row">
            <div class="c12-xs c10-sm c8-md">
                <div class="header__inner">
                    <h1>header</h1>
                    {{ nav "main" }}
                </div>
            </div>
        </div>
    </div>
</header>