<a href='/manager'>back</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/manager/collections/new'>Add collection</a>

<p>list</p>
<% collections.forEach(function(collection) { %>
    <li><%= collection %></li>
<% }); %>