@use '../abstracts/_abstracts-dir' as *;

/*
  Let the footer stay where it belongs
*/
body {
    // display: flex;
    // flex-direction: column;
    min-height: 100vh; // Use min height because of the fixed header.
    overflow-x: hidden;
}
.footer {
    margin-top: auto;
    padding: 2.5rem 0 0;
    position: relative;
}