<!DOCTYPE html>
<html>
<head>
    <title>admin - {{ site_name }}</title>
</head>
<body class="admin-page" id="admin-page">
   <div class="content" id="admin-content">
       {% block body %}{% endblock %}
    </div>
</body>
</html>