{% extends "../layouts/admin.twig" %}

{% block body %}
<h1>Login</h1>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form action="/admin/login" method="POST">
  <label>Username:</label><br>
  <input type="text" name="username" value="{{ username }}" required><br>

  <label>Password:</label><br>
  <input type="password" name="password" required><br><br>

  <button type="submit">Login</button>

  <p>
    Don't have an account yet?
    Click <a href="{{ route('admin.register') }}">here</a> to create one!
  </p>
</form>
{% endblock %}